body{

}

header{
    margin-top: 0.2em;
    background-color: white;
    border-radius: 0.5em;
    text-align: center;    
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav li {
    background-color:black;
    border-radius: 2em;
    list-style-type: none;
    padding: 0.4em;
}

nav li a {
    color: black;
    text-decoration: none;
}

selector:pseudo-class {
    property: value;
    }
/*
nav a:link {
    color: #FFFFFF;
    }
*/

nav a:visited {
    color: #000000;
    }

nav a:hover {
    color: red;
    font-style: italic;
    }

nav a:active {
    color: #0066CC;
    }

/*
nav li a:link{
    color: #FFFFFF;
}
*/

nav li a:visited{
    color: #FFFF99;
}

nav li a:hover {
    color: #FFFFFF;
    font-style: italic;
}

nav li a:active{
    color: #6600CC;
}

main{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 12px 12px 12 12px #404040;
}

    img {
        max-width: 100%;
        margin: 1%;
        border: double 0.3em #000014;
        width: 100%;
        }

footer{
    font-size: .70em;
    text-align: center;
    margin-top: 20px;

}


#container{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
}

#header{

}

nav{
    
}

#main {

}

#footer {

}



.images{

}

table { margin: auto;
        border: 5px solid black;
        width:100%;
        border-spacing: 0;
        }
td, th { padding: 5px;
        font-family: Arial, sans-serif;
        border-style: none;
}
caption { font-family: Verdana sans-serif; 
            font-weight: bold;
            font-size: 1.2em;
            padding-bottom: 5px;
}
.arrow { background-color: #eaeaea;}

figure { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

figcaption { 
    display: block;
    font-size: 1.25em;
}